
.box {
    padding: 5px;
    width: 300px;
}

.inner-box {
    margin-top: -20px;
    padding: 5px;
    width: 250px;
}


.card {
    width: 250px;
}

.cardChore {
    width: 280px;
}

.title {
    font-size: 20px;
    font-weight: 700;
}

.MuiCard-root	{
    outline: 0;
    border:0;
}